.filter-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.filter-form {
    height: 100%;
    width: 100%;
}

.filter-form {
    height: 100%;
    width: 100%;
}

.form-row {
    margin-left: 5px !important;
}

.drop-down-btn {
    width: 160px !important;
    margin: 5px 0 0 15px !important;
}

.bottom-column {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dropdown-menu {
    max-height: 160px;
    overflow-y: scroll;
}